spring:
  datasource:
    url: jdbc:postgresql://localhost:5441/sistema-bancario-db
    username: dev
    password: dev

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

